:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F0F2F5;
}

.ant-layout {
  min-height: 100vh;
}
.logo {
  float: left;
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}
